**
!backend/
!backend/**

**/.env
**/.env.*
**/auth.json
**/.git
**/node_modules
**/vendor
**/.qa
**/.phpunit.cache
**/.phpunit.result.cache
backend/storage/**
backend/bootstrap/cache/**
backend/public/storage
backend/tests
backend/README.md
backend/phpunit.xml
**/*.sqlite
**/*.sqlite-*
